{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">

    <title>Booktime</title>
    <style>
      /* Modify the background color */
       
      .navbar-custom {
          background-color: rgb(159, 172, 211);
      }
      /* Modify brand and text color */
       
      .navbar-custom .navbar-brand,
      .navbar-custom .navbar-text {
          color: rgb(53, 158, 229);
      }
  </style>
  </head>
  <body>
    <div class="container">
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Booktime</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item {% if request.path == '/' %} active {% endif%}">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item {% if request.path == '/about_us/' %} active {% endif %}">
                <a class="nav-link" href="/about_us/">About-us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- end navbar-->
      <br/>
      <!-- body page-->
      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>
      
    <!-- end body page -->

      <!-- Optional JavaScript; choose one of the two! -->

      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
      -->
    </div>
  </body>
</html>